@import "@repo/styles";

.app-root {
  .app-container {
    .app-container-body {
      display: flex;
      justify-content: start;
      .app-left {
        width: 250px;
      }
      .app-right {
        width: calc(100% - 250px);
        .content-wrapper {
          height: calc(100vh);
          overflow: auto;
          .content-container {
            .content-header {
              border-bottom: 1px solid map-get($grey-colors, "light-grey");
              padding: 15px 20px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            .content-body {
              margin: 20px 60px;
              .info-msg {
                color: map-get($grey-colors, "A7A9AC");
              }
            }
          }
        }
      }
    }
  }
}
