@import "@repo/styles";

.overview-wrapper-component {
  $sm: 640px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1280px;
  $xxl: 1536px;
  $side-width: 250px;
  $padding: 0.5rem;
  .overview-container {
    .overview-header {
      max-width: 100vw;
      padding: 10px 0 20px;
      border-bottom: 1px solid map-get($grey-colors, "light-grey");
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 20px;
      .tab{
        font-size: 0.8rem;
        @media screen and (min-width: $sm) {  
          font-size: 1rem;
        }
      }
    }
    .overview-subheader {
      max-width: 100vw;
      padding-inline: $padding;
      border-bottom: 1px solid map-get($grey-colors, "light-grey");
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: .5rem;
      // column-gap: 20px;
      column-gap: 4px;
      .button{
        font-size: 0.8rem;
        @media screen and (min-width: $sm) {  
          font-size: 1rem;
        }
      }
      @media (min-width: $sm) {
        padding: 10px 0 20px;
        font-size: 18px;
      }
    }
    .overview-body {
      max-width: 100vw;

      margin-top: 20px;
      .props {
        display: grid;
        grid-template-columns: auto 1fr;
        padding-inline: $padding;
        margin: 40px 0;
        .prop {
          grid-column: 1/-1;
          display: grid;
          gap: 4px;

          margin: 20px 0;

          column-gap: 20px;
          .key {
            font-size: 1rem;
            margin-block: 0.5rem;
            display: flex;
            align-items: baseline;
            gap: 4px;
            svg {
              cursor: pointer;
            }
            @media (min-width: $sm) {
              justify-content: space-between;
              width: 100%;
            }
          }
          .val {
            font-size: 14px;
            color: map-get($grey-colors, "form-value");
          }
          @media (min-width: $sm) {
            grid-template-columns: subgrid;
            align-items: baseline;
          }
        }
        @media (min-width: $sm) {
          padding: 0;
        }
      }
      .overview-tiles {
        overflow: hidden;
        max-width: 100vw;
      }
      .tile {
        border-radius: 10px;
        background: map-get($grey-colors, "F8F8F9");
        padding: 40px;
        height: 90px;
        .title {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 20px;
          font-size: 20px;
          color: map-get($grey-colors, "form-value");
        }
        .content {
          font-size: 24px;
        }
      }

      .lockup-details {
        margin-top: 50px;
        .lockup-details-header {
          font-size: 20px;
          margin-bottom: 20px;
        }
        .lockup-deadline {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          .key {
            color: map-get($grey-colors, "form-label");
          }
          .value {
            color: map-get($grey-colors, "A7A9AC");
          }
        }
        .lockup-actions {
          margin-top: 20px;
        }
      }
    }
  }
}
