@import "@repo/styles";

.deposit-wrapper {
  .deposit-container {
    .deposit-header {
      padding: 10px 0 20px;
      border-bottom: 1px solid map-get($grey-colors, "light-grey");
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
    }
    .deposit-body {
      margin-top: 20px;
      .props {
        margin: 40px 0;
        .prop {
          margin: 20px 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 20px;
          .key {
            font-size: 14px;
            width: 150px;
          }
          .value {
            font-size: 14px;
            color: map-get($grey-colors, "form-value");
          }
        }
      }

      .deposit-widget {
        .flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 20px;
        }
      }
    }
  }
}

.acknowledge {
  /*
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  */
  max-width: 600px;
  margin: 0 auto;

  .acknowledge-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .acknowledge-text {
      margin-bottom: 20px;
      font-size: 16px;
      color: #333;

      div {
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
    }

    .acknowledge-actions {
      margin-top: 10px;

      button {
        padding: 10px 20px;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #007bff;
        color: #fff;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
