@import "@repo/styles";

.transaction-details-wrapper {
  .transaction-details-container {
    text-align: center;
    height: 300px;
    .success-icon {
      margin-top: 20px;
      font-size: 50px;
    }
    .message {
      font-size: 16px;
      font-weight: bold;
    }
    .txn {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
      .name {
        margin-bottom: 5px;
        font-size: 20px;
        margin-top: 10px;
      }
      .msg {
        color: map-get($grey-colors, "dark-grey");
        word-break: break-word;
        font-size: 13px;
        width: 60%;
        margin: 0 auto;
        line-height: 1.2;
        margin-top: 25px;
      }
    }
  }
}
