@import "@repo/styles";

.loading-box {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: map-get($base-colors, "white");
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 42%;
  z-index: 2001;
  text-align: center;
  padding-top: 20px;
  border-radius: 15px;
  .progress-bar {
    margin: 50px 0;
  }
  img {
    width: 50px;
    height: 50px;
  }
  .message {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.2;
    color: map-get($grey-colors, "form-label");
  }
}

.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background: map-get($base-colors, "black");
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 2000;
}
