$base-colors: (
  "white": #ffffff,
  "black": #000000,
);

$theme-colors: (
  "primary": #9b95c9,
  "secondary": #82ca9c,
  "info": #00c0f3,
  "warning": #ffe293,
  "error": #f69679,
  "primary-light": #e0def0,
  "secondary-light": #d8eddd,
  "warning-light": #fbbea7,
  "error-light": #fabea7,
  "info-light": #E3F2FD
);

$grey-colors: (
  "very-light-grey": #fbfcfd,
  "light-grey": #f2f2f2,
  "dark-grey": #666666,
  "form-label": #808285,
  "form-value": #58595b,
  "F8F8F9": #f8f8f9,
  "A7A9AC": #a7a9ac,
  "E6E7E8": #e6e7e8,
);
