@mixin font-face(
  $font-name,
  $font-weight
) {
  @font-face {
    font-family: $font-name;
    font-weight: $font-weight;
    src:
      url("assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
        format("ttf"),
      url("assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
      format("truetype")
  }
}

@include font-face("Rubik", 400);
@include font-face("RubikLight", 300);
@include font-face("RubikThin", 100);
@include font-face("RubikBold", 600);

body {
  font-family: "Rubik", "Rubik", sans-serif;
}

* {
  font-family: "Rubik", sans-serif !important;
}

@mixin font-face(
  $font-name,
  $font-file-name,
  $font-format-one: "ttf",
  $font-format-two: "truetype"
) {
  @font-face {
    font-family: $font-name;
    src:
      url("assets/fonts/JetBrainsMono/fonts/ttf/#{$font-file-name}.ttf")
        format($font-format-one),
      url("assets/fonts/JetBrainsMono/fonts/ttf/#{$font-file-name}.ttf")
        format($font-format-two);
  }
}
@include font-face("JetBrainsMono", "JetBrainsMono-Regular");
