@import "reset";
@import "colors";
@import "fonts";

.hover {
  &:hover {
    cursor: pointer;
  }
}

.hover-underline {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.underline {
  text-decoration: underline;
}


.custom-link {
  text-decoration: none !important;
  &.form-label {
    color: map-get($grey-colors, "form-label") !important;
    text-decoration-color: map-get($grey-colors, "form-label") !important;
  }
  &.underline {
    text-decoration: underline !important;
  }
  &.hover-underline {
    &:hover {
      cursor: pointer;
      text-decoration: underline !important;
    }
  }
}